# Ignore data directory
data/
data/credits.csv
data/keywords.csv
data/movies.csv
data/ratings.csv

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env"data/" 
.env